/* <<<<<<< HEAD
 footer {
    width: 100vw;
    background-color: var(--clr-bg);
    color: var(--clr-text-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 1rem 0rem var(--clr-bg-contrast);
    background-color: rgb(99, 99, 233);
    margin-bottom: 0px;
    
}



======= */
/* footer.module.css */
.footer {
  height: auto;
  background: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
.container-feed{
  margin: 0;
  padding: 0;
  height: auto;
}

.link {
  color: #00f;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.container-foot{
  height: 2px;
}
/* >>>>>>> upstream/main */
